{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper">
        <h2 class="page-title">Общая статистика</h2>

        <section class="stats-section">
            <h3 class="media-title">Динамика уровня зарплат по годам</h3>
            <div class="stats-plot">
                <img class="stats-image" alt="График уровня зарплат по годам" src="{{ salary_chart }}">
            </div>
        </section>

        <section class="stats-section">
            <h3 class="media-title">Таблица уровня зарплат по годам</h3>
            <div class="stats-table-wrapper">
                <div class="stats-table">
                    {{ salary_data|safe }}
                </div>
            </div>
        </section>

        <section class="stats-section">
            <h3 class="media-title">Динамика количества вакансий по годам</h3>
            <div class="stats-plot">
                <img class="stats-image" alt="График количества вакансий по годам" src="{{ vacancy_chart }}">
            </div>
        </section>

        <section class="stats-section">
            <h3 class="media-title">Таблица количества вакансий по годам</h3>
            <div class="stats-table-wrapper">
                <div class="stats-table">
                    {{ vacancy_data|safe }}
                </div>
            </div>
        </section>

        <section class="stats-section">
            <h3 class="media-title">Уровень зарплат по городам</h3>
            <div class="stats-plot">
                <img class="stats-image" alt="Уровень зарплат по городам" src="{{ city_salary_chart }}">
            </div>
        </section>

        <section class="stats-section">
            <h3 class="media-title">Таблица уровня зарплат по городам</h3>
            <div class="stats-table-wrapper">
                <div class="stats-table">
                    {{ city_salary_data|safe }}
                </div>
            </div>
        </section>

        <section class="stats-section">
            <h3 class="media-title">Доля вакансий по городам</h3>
            <div class="stats-plot">
                <img class="stats-image" alt="Доля вакансий по городам" src="{{ city_vacancy_chart }}">
            </div>
        </section>

        <section class="stats-section">
            <h3 class="media-title">Таблица доли вакансий по городам</h3>
            <div class="stats-table-wrapper">
                <div class="stats-table">
                    {{ city_vacancy_data|safe }}
                </div>
            </div>
        </section>

        <section class="stats-section">
            <h3 class="media-title">ТОП-20 навыков по годам</h3>
            <div class="stats-plot">
                <img class="stats-image" alt="График топ 20 навыков по годам" src="{{ skill_chart }}">
            </div>
        </section>

        <section class="stats-section">
            <h3 class="media-title">Таблица навыков</h3>
            <div class="stats-table-wrapper">
                <div class="stats-table">
                    {{ skill_data|safe }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
